@{
    ViewBag.Title = "About";
}
<div class="img-responsive">
    <img src="https://www.compartamos.com.mx/wcm/connect/eb202021-3182-4506-96bf-64375756c63b/que-es-una-oportunidad-de-negocio_mid.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-eb202021-3182-4506-96bf-64375756c63b-nRoYGkX" alt="Oxxo" width="100%" height="400px">
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">OXXO - Sucursal Ramírez</h2>
        <p class="text-center">
            Negocio semifamiliar ficticio fundado en 1810 por la familia Ramírez, herederos de la multinacional OXXO.
        </p>
    </div>
</div>
<br />
<div>
    <h2 class="text-center">Dueño Actual</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <a href="#"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3f17185b-1250-4e39-a06c-8a3df62321d4/defqdmp-10e58c73-8a30-47b5-ad59-6f32efce47a1.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNmMTcxODViLTEyNTAtNGUzOS1hMDZjLThhM2RmNjIzMjFkNFwvZGVmcWRtcC0xMGU1OGM3My04YTMwLTQ3YjUtYWQ1OS02ZjMyZWZjZTQ3YTEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tV_14N9jgQHpjx5XCUDlkuchm5QqcIJLpljE_foTZKE" class="rounded" style="margin:5px; max-width: 100%; height: 300px;" alt="Lider"></a>
        </div>
    </div>
</div>
<br />
<div>
    <h4 class="text-center"><span class="glyphicon glyphicon-earphone"></span>(442) 210 1616</h4>
    <h4 class="text-center"><span class="glyphicon glyphicon-map-marker"></span>Av. Pie de la Cuesta 935, Nacional, 76116 Santiago de Querétaro, Qro.</h4>
</div>