@{
    ViewBag.Title = "Home Page";
}

<div class="img-responsive">
    <img src="https://media.informabtl.com/wp-content/uploads/2019/12/2c214064-retail-comestibles.jpg" alt="Oxxo" width="100%" height="400px" >
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">OXXO - Sucursal Abarrotes</h2>
        <h3 class="text-center">¿Hoy qué se arma?</h3>
        <p class="text-center">
            Lo ideal sería que nada, estamos en pandemia y pues está difícil. Pero pues puedes comprar en nuestra tienda sin ningún compromiso. Solo una persona por familia.
        </p>
        <p class="text-center"><a class="btn btn-default" href='@Url.Action("Productos", "Productos")'>Ir a productos &raquo;</a></p>
    </div>
</div>
<div>
    <h2 class="text-center">Productos más populares</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <a href='@Url.Action("Productos", "Productos")'><img src="https://doritos.com.mx/images/logo-doritos.png" class="rounded" style="margin:5px; max-width: 100%; height: 300px;" alt="Doritos"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a href='@Url.Action("Productos", "Productos")'><img src="https://1000marcas.net/wp-content/uploads/2020/01/Logo-Marlboro.png" class="rounded" style="margin: 5px; max-width: 100%; height: 300px;" alt="Recuerdo de mi padre"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a href='@Url.Action("Productos", "Productos")'><img src="https://www.cloralex.com.mx/wp-content/uploads/2017/06/CLX-ER-1.17_0581.png" style="margin: 5px; max-width: 100%; height: 300px;" alt="Curacovid"></a>
        </div>
    </div>
</div>

